<div class="container text-center">
    <br>
    <div>
        <h2>Reporte de actividades</h2>
        <strong>Fecha: {{sdate | date: date: 'dd/MM/yyyy'}} - {{fdate | date: date: 'dd/MM/yyyy'}}</strong>
        <button type="button" (click)="randomize()" class="btn btn-primary" style="position: relative; right: -10px;">Actualizar</button>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre del examen</th>
                            <th scope="col">Ordenes realizadas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = 'let reporte of reportes'> 
                            <th scope="row">{{reporte.examen}}</th>
                            <th scope="row">{{reporte.ordenes}}</th>
                        </tr>
                        <tr>
                            <th scope="row">Total</th>
                            <th scope="row">{{totalOrdenes}}</th>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <div class="col-sm-5">
                <div style="display: block;">
                    <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                    </canvas>
                </div>
                <br>
                <div style="display: block">
                    <canvas baseChart
                        [datasets]="ingresosData"
                        [labels]="barChartLabels"
                        [colors]="ingresosColors"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>Tipo de examen realizado por empresa</h3>
                <div style="display: block">
                    <canvas baseChart
                        [datasets]="examenesData"
                        [labels]="examenesLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h2>Reportes generales</h2>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <h3>Ingresos anuales en millones por empresa</h3>
            <div style="display: block">
                <canvas baseChart
                    [datasets]="ingresosAData"
                    [labels]="ingresosALabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                </canvas>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>Ingresos mensuales en millones por empresa</h3>
            <div style="display: block">
                <canvas baseChart
                    [datasets]="ingresosMData"
                    [labels]="ingresosMLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                </canvas>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
        <h3>Actividades realizadas por mes</h3>
            <div style="display: block;">
                <canvas baseChart width="200" height="200"
                            [datasets]="actividadesData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType">
                </canvas>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>Clientes totales por mes por empresa</h3>
            <div style="display: block;">
                <canvas baseChart width="200" height="200"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType">
                </canvas>
            </div>
        </div>
    </div>
</div>
